@import url("https://fonts.googleapis.com/css2?family=Poppins:wgt@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex-start;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fix the background */
    margin: 0;
}

.head {
    background-color:transparent;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size: 24px;
   
}

.wrapper {
    width: 1300px;
    height:200px;
    border-radius: 20px;
    padding: 60px 40px 10px 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 52px auto;
}

.input-box {
    width: 300px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom:none;
    outline: none;
    font-size: 16px;
}

.input-box input::placeholder {
    color: #333;
}

.input-box input:focus {
    border-bottom: none; /* Change to your desired focus color */
}
