@import url("https://fonts.googleapis.com/css2?family=Poppins:wgt@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    background:url('background.jpeg') no-repeat;
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}

.wrapper{
    width:380px;
    border-radius: 20px;
    padding:60px 40px 10px 40px ;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    color:#fff;
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center;
}

.wrapper h1{
    font-size:36px;
    text-align:center;
}

.wrapper .input-box{
    position: relative;
    width:80%;
    height:50px;
    margin: 10px 20px 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid rgba(255,255,255,.2);
}


.input-box input{
    width: 100%;
    height:90%;
    background:transparent;
    border:none;
    outline:none;
    border:none;
    padding: 5px 5px 5px 5px ;
    font-size: 16px;
    color:#fff;
}
.wrapper .input-box.search {
    position: relative;
    width: 88%;
    height:50px;
    margin: 40px 5px 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}

.wrapper .input-box.search .search-input {
    width: 100%;;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius:40px;
    padding: 10px 10px 10px 10px ;
    font-size: 16px;
    color:#fff;
}


.input-box input::placeholder{
    color:#fff;
}

 .input-box i{
    position:absolute;
    left: -50px;
    top: 50%;
    transform:translateY(-50%);
    font-size:25px;

} 

.input-box button.search-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  
    
}


.btn {
    position: absolute;
    left: 8px; /* Adjust the distance from the left */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center; 
    font-size:25px;
}

.btn i {
    margin-right: 10px;
}
 