.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(89.36225965619087, 92.79296636581421, 123.66918995976448, 1);
	width:1931px;
	height:1172px;
	position:absolute;
}
.e8_4 { 
	width:1931px;
	height:1172px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_3 { 
	width:1931px;
	height:1172px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/84248_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_27 { 
	width:1353px;
	height:698px;
	position:absolute;
	left:289px;
	top:324px;
}
.e1_28 { 
	background-color:rgba(234.65063273906708, 215.77240973711014, 215.77240973711014, 0.25);
	width:1353px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e1_29 { 
	background-color:rgba(234.65063273906708, 215.77240973711014, 215.77240973711014, 0.25);
	width:1353px;
	height:198px;
	position:absolute;
	left:0px;
	top:250px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e1_30 { 
	background-color:rgba(234.65063273906708, 215.77240973711014, 215.77240973711014, 0.25);
	width:1353px;
	height:198px;
	position:absolute;
	left:0px;
	top:500px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e8_5 { 
	width:315px;
	height:45px;
	position:absolute;
	left:830px;
	top:207px;
}
.e1_32 { 
	color:rgba(255, 255, 255, 1);
	width:315px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:AppleGothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
